html,
 body {
  height: 100%;
  
}

//register.html 

.send_to_signin {
  color: rgba(33, 63, 127, 0.865);
  cursor: pointer;
  font-size: 25px;
  display: none;
}

.update_post_button {
  border-radius: 25px;
  border: none;
  font-size: 25px;
  background-color: rgb(10, 45, 121);
  color: #fff;
}

.remove_post_button {
  border-radius: 25px;
  border: none;
  font-size: 25px;
  background-color: rgb(169, 9, 30);
  color: #fff;
}

.flex-grow-1{
  display: none;
}

a {
  text-decoration: none;
}

//profile 

.logout {
  color: rgba(33, 63, 127, 0.865);
  cursor: pointer;
}