html,
 body {
  height: 100%;
  
}

//register.html 

.send_to_signin {
  display: none;
}

.update_post_button {
  border-radius: 15px;
  border: none;

}

.flex-grow-1{
  display: none;
}

a {
  text-decoration: none;
}