html,
 body {
  height: 100%;
  
}

//register.html 

.send_to_signin {
  display: none;
}

.update_post_button {
  border-radius: 25px;
  border: none;
  font-size: 30px;
  background-color: rgb(10, 45, 121);
  color: #fff;
  
  

}

.flex-grow-1{
  display: none;
}

a {
  text-decoration: none;
}