$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;

$blue:    #0d6efd ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #d63384 ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #198754 ;
$teal:    #20c997 ;
$cyan:    #0dcaf0 ;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$border-width:                1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

$border-radius:       .375rem ;
$border-radius-sm:    .25rem ;
$border-radius-lg:    .5rem ;
$border-radius-xl:    1rem ;
$border-radius-2xl:   2rem ;
$border-radius-pill:  50rem ;


$card-color:  rgb(80, 80, 80);
$card-box-shadow:40px 20px 50px rgb(0, 0, 0);

$input-color: grey;
$input-border-radius: 20px;

$primary: rgba(33, 63, 127, 0.865);
$secondary: rgb(221, 221, 221);
$gray-900: #464e55 ;
$dark:      $gray-900;     

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$grid-breakpoints: (
  xs: 0,
  sm: 830px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);